@charset "UTF-8";

/*********************************
preset variables
*********************************/
:root {
    --fontSize: 16px;
    --linkColor: #3562a0;
    --textColor: #333;
    /* color preset */
    --mainColor: ;
    --mainDarkColor: ;
    --mainLightColor: ;
    --subColor: ;
    --subDarkColor: ;
    --subLightColor: ;
    /* width preset */
    --gutter: 1.3rem;
    --gap: 3rem;
    --spacing: 1rem;
    --contentWidth: 1000px;
}

/* OVERWRITE RADIX */

/*
非レスポンシブページ用手順：
①以下のスタイルを有効にする。
    body {min-width: var(--contentWidth)}
②HTMLの <meta name="viewport"> の content を、--contentWidth + ある程度の余白分の数値にする。
    EX: <meta name="viewport" content="width=1100">
*/

/* OVERWRITE end */
/*************************************
* START header
*************************************/


/*************************************
* END header START main
*************************************/


/*************************************
* END main START footer
*************************************/


/*************************************
* END footer START only for sp
*************************************/
@media only screen and (max-width: 700px) {
    .sp-hide {
        visibility: hidden;
        opacity: 0
    }

    .sp-visible {
        visibility: visible;
        opacity: 1
    }

    .sp-none {
        display: none !important
    }

    .rdx-btn {
        display: block
    }

}

/*************************************
* END only for sp START only for pc
*************************************/
@media print,
screen and (min-width: 700px) {
    .pc-hide {
        visibility: hidden;
        opacity: 0
    }

    .pc-visible {
        visibility: visible;
        opacity: 1
    }

    .pc-none {
        display: none !important
    }

}
